<div class="header">
    <div class="header-text">
        Add a Book
    </div>
    <hr/>
    <div class="subheader">
        Add a book to our library's collection
    </div>
    <div class="display-icon-container">
        <img class="display-icon" src="assets/book.png" alt="Icon">
    </div>
</div>
<form (ng-submit)="addBook()" [formGroup]="bookForm" formGroup="bookForm" id="create-form" action="">
    <div class="spinner-container" *ngIf="loading">
        <div class="loader">
          <mat-spinner></mat-spinner>
        </div>
    </div>
    <div *ngIf="!loading && !success">
        <div class="field-input">
            <label for="">Title</label>
            <input formControlName="title" placeholder="Harry Potter" required/>
        </div>
        <div class="field-input">
            <label for="">Author</label>
            <input formControlName="author" placeholder="J.K. Rowling" required/>
        </div>
        <div class="field-input">
            <label for="">Price</label>
            <input formControlName="price" placeholder="PHP" required />
        </div>
        <div class="field-input">
            <label for="">In-Stock</label>
            <input formControlName="stocks" placeholder="Amount" required/>
        </div>
        <button (click)="addBook()" id="createBtn" class="btn-primary center" color="primary">Add Book</button>
    </div>
    <div *ngIf="!loading && success">
        <div class="result header">
            <div class="header-text">
                Successfully Added Book
            </div>
            <div class="subheader">
                The book was successfully added.
            </div>
        </div>
        <button mat-dialog-close (click)="reload()" id="closeBtn" class="btn-primary center">Finish</button>
    </div>
</form>