.page-body {
    min-height: 100%;
    background: #dfdcc9;
    margin-top: 0px;
    display: block;
}

.data-table {
    width: 100%;
    margin: 0 auto;
}

.table-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}

.table-action-header {
    font-family: 'Overpass'!important;
    background-color: transparent;
    color: #000;
    padding: 1em 0em 0em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.table-header {
    align-items: center;
    font-size: 1.2em;
    background: #0000001f;
    color: #f2e9da;
    padding: .5em;
}

.mat-cell {
    font-family: 'Overpass'!important;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-icon {
    height: 80px;
    width: 80px;
    // background: blanchedalmond;
    border-radius: 100%;
}

.brand-header {
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Megrim' !important;
    margin-left: .5em;
}

.spinner-container {
    height: 100%;
    width: 100%;
    background: transparent;
}

#addBtn {
    margin-right: 1em;
}

.logout {
    cursor: pointer;
}

.logout:hover {
    opacity: .5;
}