<div class="page-body">
  <mat-toolbar class="navbar">
    <div class="brand">
      <img class="brand-icon" src="assets/library-logo.png" alt="Icon">
      <h4 class="brand-header">The Bibliophile Library</h4>
    </div>
    <div>
      <span class="nav-item user-greeting">Hello, {{ user.firstName }}</span>
      <span class="nav-item logout" (click)="logout()">Logout</span>
    </div>
  </mat-toolbar>
  
  <div class="table-container">
      <div class="data-table table-action-header">
          <div class="table-header">
              Archived Books
          </div>
          <button (click)="addBook()" id="addBtn" class="btn-primary">
              Add Book
          </button>
      </div>
      <table mat-table [dataSource]="books" class="data-table full-width-table" matSort aria-label="Books">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let book">{{book.id}}</td>
        </ng-container>
  
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let book">{{book.title}}</td>
        </ng-container>
  
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
          <td mat-cell *matCellDef="let book">{{book.author}}</td>
        </ng-container>
  
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let book">{{book.price}}</td>
        </ng-container>
  
        <ng-container matColumnDef="stocks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>In-Stock</th>
          <td mat-cell *matCellDef="let book">{{book.stocks}}</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let book">
              <button mat-stroked-button color="link" (click)="editBook(book)">Edit</button>
              <button mat-stroked-button color="warn" (click)="deleteBook(book)">Delete</button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <div class="spinner-container" *ngIf="loading">
        <div class="spinner-container">
          <div class="loader">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </div>
    
      <mat-paginator #paginator
          [length]="dataSource?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          class="data-table">
      </mat-paginator>
    </div>
</div>
  
  