mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    height: 400px;
    max-height: 750px;
}

.mat-form-field-wrapper {
    // max-height: .5em;
    padding: 0;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }

.mat-form-field {
    width: 270px;
}

.field-input {
    width: 300px;
    margin-right: 0px;
}

.input-container {
    width: 300px;
    margin: 0 auto;
}

#loginBtn {
    margin-top: 20px;
}

#loginForm {
    margin-top: 30px;
}

.brand {
    margin-bottom: 2em;
}

.brand-icon {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.brand-header {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: .5em;
    font-family: 'Megrim', cursive;
}

.subheader {
    font-family: 'Overpass' !important;
    font-size: .9em;
    color: #944e2c;
    opacity: .6;
}

label {
    font-family: 'Overpass';
}

hr {
    color: #944e2c;
    // opacity: .6;
    opacity: .2;
}

.vertically-center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto !important;
}