<!-- <div class="page-body"> -->
        <mat-card class="vertically-center">
            <mat-card-content>
                <div class="brand">
                    <img class="brand-icon" src="assets/library-logo.png" alt="Icon">
                    <h4 class="brand-header">The Bibliophile Library</h4>
                    <div class="subheader">~ Art in Literature ~</div>
                </div>
                <hr>
                <form (ng-submit)="onLogin()" [formGroup]="loginForm" formGroup="loginForm" id="loginForm">
                    <div *ngIf="loading">
                        <div class="spinner-container">
                            <div class="loader">
                              <mat-spinner></mat-spinner>
                            </div>
                        </div>
                    </div>
                    <div class="input-container" *ngIf="!loading">
                        <div  class="field-input">
                            <label for="">Email</label>
                            <input formControlName="email" placeholder="example@email.com" required />
                        </div>
                        <div class="field-input">
                            <label for="">Password</label>
                            <input formControlName="password" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
                        </div>
                        <button (click)="onLogin()" id="loginBtn" class="btn-primary">Login</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
<!-- </div> -->