.center {
    display: block;
    margin: auto;
}

.result {
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlight-text {
    color: #a89685;
}

.delete-options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}