<div class="header">
    <div class="header-text">
        Delete a Book
    </div>
    <hr/>
    <div class="subheader">
        Deleting a book to our library's collection
    </div>
    <div class="display-icon-container">
        <img class="display-icon" src="assets/delete.png" alt="Icon">
    </div>
</div>
<div class="spinner-container" *ngIf="loading">
    <div class="loader">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div *ngIf="!loading && !success" class="result header">
    <div class="header-text">
        Are you sure you want to delete <span class="highlight-text">{{ data.book.title? data.book.title: 'this book' }}</span>?
    </div>
    <div class="subheader">
        Choosing 'Delete' will permanently delete this book record.
    </div>
    <div class="delete-options">
        <button (click)="deleteBook()" id="closeBtn" class="btn-primary center">Delete</button>
        <button mat-dialog-close id="closeBtn" class="btn-secondary center">Close</button>
    </div>
</div>

<div *ngIf="success && !loading">
    <div class="result header">
        <div class="header-text">
            Successfully Deleted Book
        </div>
        <div class="subheader">
            The book was successfully deleted.
        </div>
    </div>
    <button mat-dialog-close (click)="reload()" id="closeBtn" class="btn-primary center">Finish</button>
</div>