/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Overpass', sans-serif !important; background: #dfdcc9 !important; }

.page-body {
    min-height: 100%;
    // padding: 1rem;
    // margin-top: -30px;
    background: #dfdcc9;
    display: block;
}

.navbar {
    justify-content: space-between;
}

.nav-item {
    font-family: 'Overpass';
    font-size: .8em;
    padding-right: 1em;
}

label {
    font-size: 0.8em;
    font-weight: 700;
    min-width: 100px;
    width: max-content;
    display: inline-block;
    min-width: 50px;
}

input {
    // position: absolute;
    padding: .7em;
    border-radius: 10px;
    border-style: 1px black;
    margin: 0.5em;
    border: 1px #858378 solid;
    transition: .3s;
}

input:hover {
    background: hsl(42, 78%, 78%, .3);
    box-shadow: 1px 1px #f1c96b;
    // opacity: .3;
    border-color: gray;
}

input:focus {
    background: hsl(42, 78%, 78%, .5);
    outline: none;
}


.btn-primary {
    font-family: 'Overpass' !important;
    font-weight: 700;
    padding: 1em;
    background: #f3d99c !important;
    color: #494949 !important;
    border-radius: 5px;
    border: none;
    border: #cfb578 1px solid;
    cursor: pointer;
    transition: .3s;
}

.btn-primary:hover {
    background: #f3d99c !important;
    box-shadow: 1px 1px #949494;
    opacity: .9;
    border: #f1c96b 1px solid;
}

.btn-primary:active {
    background-color: #f3d99c;
    transform: translateY(1px);
}

.btn-secondary {
    font-family: 'Overpass' !important;
    font-weight: 700;
    padding: 1em;
    background: transparent !important;
    color: #494949 !important;
    border-radius: 5px;
    border: #494949 1px solid;
    cursor: pointer;
    transition: .3s;
}

.btn-secondary:hover {
    background: #f3d99c !important;
    box-shadow: 1px 1px #949494;
    opacity: .9;
    border: #f1c96b 1px solid;
}

.btn-secondary:active {
    background-color: #f3d99c;
    transform: translateY(1px);
}

.header-text {
    font-weight: bold;
}

.subheader {
    font-size: .7em;
}

.icon {
    height: 100px;
    width: 100px;
}

.display-icon {
    margin: 1em;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.display-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.loader mat-spinner {
    margin: 0 auto;
}

.spinner-container {
    width: 100%;
    height: 100%;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #bdac94;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    background: #dfdcc9 !important;
    border-bottom: 1px #0000001f solid;
}

.mat-table {
    background: transparent;
}

.mat-paginator {
    background: transparent;
}