@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(#b25e2b, 500);
$my-accent: mat.define-palette(#7c8f9e, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-typography: mat.define-typography-config(
    $font-family: 'Overpass'
);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $my-typography
));

@include mat.all-component-themes($my-theme);