<div class="header">
    <div class="header-text">
        Edit Book
    </div>
    <hr/>
    <div class="subheader">
        Edit book information in our archives.
    </div>
    <div class="display-icon-container">
        <img class="display-icon" src="assets/book.png" alt="Icon">
    </div>
</div>
<form (ng-submit)="updateBook()" [formGroup]="editForm" formGroup="editForm" id="edit-form" action="">
    <div *ngIf="loading">
        <div class="spinner-container">
            <div class="loader">
              <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !success">
        <div class="field-input">
            <label for="">Title</label>
            <input formControlName="title" [(ngModel)]="title" placeholder="Harry Potter" required/>
        </div>
        <div class="field-input">
            <label for="">Author</label>
            <input formControlName="author" [(ngModel)]="author" placeholder="J.K. Rowling" required/>
        </div>
        <div class="field-input">
            <label for="">Price</label>
            <input formControlName="price" [(ngModel)]="price" placeholder="PHP" required />
        </div>
        <div class="field-input">
            <label for="">In-Stock</label>
            <input formControlName="stocks" [(ngModel)]="stocks" placeholder="Amount" required/>
        </div>
        <button (click)="updateBook()" id="editBtn" class="btn-primary center" color="primary">Update Book</button>
    </div>
    <div *ngIf="!loading && success">
        <div class="result header">
            <div class="header-text">
                Successfully Updated
            </div>
            <div class="subheader">
                The book was successfully updated.
            </div>
        </div>
        <button mat-dialog-close id="closeBtn" class="btn-primary center">Finish</button>
    </div>
</form>